.title {
    color: #fff;
    text-decoration: none;
}
.sidenav-container {
    height: 100%;
}
.sidenav {
    width: 200px;
}
.sidenav .mat-toolbar {
    background: inherit;
}
.mat-toolbar.mat-primary {
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    /* background: #d20009; */
}
.spacer {
    flex: 1 1 auto;
}
.logo {
    width: 75px;
    margin-left: 32px;
}
.spacer {
    flex: 1 1 auto;
}
.menu-button {
    transition: 600ms ease-in-out;
    transform: rotate(0deg);
}
.menu-button.rotated {
    transform: rotate(180deg);
}
.submenu {
    overflow-y: hidden;
    transition: 600ms ease-in-out;
    height: 0;
}
.submenu mat-list-item {
    padding-left: 30px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.submenu.expanded {
    height: auto;
}
.example-icon {
    padding: 0 14px;
}
.example-spacer {
    flex: 1 1 auto;
}
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.example-radio-group {
    display: block;
    border: 1px solid #555;
    margin: 20px;
    padding: 10px;
}
.mat-sidenav {
    top: 56px !important;
    background: #e4e9ee;
}
.mat-sidenav-content {
    margin-top: 50px;
}
.grid-container {
    margin: 20px;
    margin-top: 32px;
}
.profileImage {
    width: 30px !important;
    height: 30px !important;
    border-radius: 15px;
}

@media only screen and (max-width: 472px) {
    .hide {
        display: none;
    }
}
a {
    text-decoration: none;
    color: black;
}
.active { background-color:#e4e9ee; }